@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --swiper-pagination-color: #988aca;
    --swiper-pagination-left: auto;
    --swiper-pagination-right: 8px;
    --swiper-pagination-bottom: 8px;
    --swiper-pagination-top: auto;
    --swiper-pagination-fraction-color: inherit;
    --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
    --swiper-pagination-progressbar-size: 4px;
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-width: 12px;
    --swiper-pagination-bullet-height: 5px;
    --swiper-pagination-bullet-border-radius: 24px;
    --swiper-pagination-bullet-inactive-color: #e6eaf2;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 6px;
  }

  [type='text'],
  input:where(:not([type])),
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply rounded-3xl border-none bg-box px-8 py-[18px] text-sm text-gray-700 shadow-md shadow-black/25 placeholder:text-gray-700 focus:ring-violet-500 dark:bg-violet-950 dark:text-violet-300 dark:placeholder:text-violet-300 md:text-lg;
  }

  [aria-invalid='true'] {
    @apply ring-1 ring-red-600  focus:ring-red-600;
  }
}

@layer components {
  .grid-area-project {
    grid-template-areas:
      'image date'
      'title .'
      'description skills';
  }
  .area-project-image {
    grid-area: image;
  }
  .area-project-date {
    grid-area: date;
  }
  .area-project-title {
    grid-area: title;
  }
  .area-project-description {
    grid-area: description;
  }
  .area-project-skills {
    grid-area: skills;
  }
}

@layer utilities {
  .px-base {
    @apply px-4 lg:px-16;
  }
  .max-w-base {
    @apply mx-auto max-w-screen-xl;
  }
  .container-base {
    @apply mx-auto max-w-screen-xl px-4 lg:px-16;
  }
  .container-md {
    @apply mx-auto max-w-screen-md px-4 lg:px-16;
  }
  .clip-x-0 {
    clip-path: inset(0 50% 0 50%);
  }
  .clip-x-auto {
    clip-path: inset(0 0 0 0);
  }
  .clip-shutter-none {
    clip-path: polygon(
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0,
      0 0
    );
  }
  .clip-shutter {
    animation: 700ms shutter reverse forwards;
  }

  @keyframes shutter {
    0% {
      clip-path: polygon(
        0% 0%,
        20% 0%,
        20% 100%,
        20% 100%,
        20% 0%,
        40% 0%,
        40% 100%,
        40% 100%,
        40% 0%,
        60% 0%,
        60% 100%,
        60% 100%,
        60% 0%,
        80% 0%,
        80% 100%,
        80% 100%,
        80% 0%,
        100% 0%,
        100% 100%,
        0% 100%
      );
    }
    100% {
      clip-path: polygon(
        20% 0%,
        20% 0%,
        20% 100%,
        40% 100%,
        40% 0%,
        40% 0%,
        40% 100%,
        60% 100%,
        60% 0%,
        60% 0%,
        60% 100%,
        80% 100%,
        80% 0%,
        80% 0%,
        80% 100%,
        100% 100%,
        100% 0%,
        100% 0%,
        100% 100%,
        20% 100%
      );
    }
  }
}
